importFrom(RCurl, curlPerform)
importFrom(rjson, fromJSON)
importFrom(XML, xmlToList)

export(getDBVersion)
export(getLanguages)
export(getRegions)
export(getCountries)
export(getYears)
export(getIndicatorGroups)
export(getIndicators)
export(getDefinitions)
export(findIndicators)
export(getData)
