importFrom(utils, flush.console)
importFrom(RCurl, url.exists)
importFrom(RCurl, curlPerform)
importFrom(RCurl, basicTextGatherer)
importFrom(curl, nslookup)
importFrom(rjson, fromJSON)
importFrom(XML, xmlToList)

export(getDBVersion)
export(getLanguages)
export(getRegions)
export(getCountries)
export(getYears)
export(getIndicatorGroups)
export(getIndicators)
export(getDefinitions)
export(findIndicators)
export(getData)
export(getHFADB)
export(setHFADB)
